
body{
    margin: auto;
    width: 100% ;
	height:100% ;
}

html{
    background-color: white;
}

#wrapper
{
    margin-left:auto;
    margin-right:auto;
	overflow:hidden;
	width:1327px;
	height:2468px;
	position:relative;
	max-height:2468px;
	max-width:1327px;
	
}

#top-bar {
    width:100%;
    height: 20px;
    background-image: url("images/kristakistravel_TopBar_Background.png");
    background-repeat: repeat-x;
}
.topBarBackground {
    height: 15px;
}

.Contact{
    margin: 0;
    font-size: 12px;
    color: white;
    font-family: "Liberation Sans", Helvetica, Arial, sans-serif;    
	font-weight: bold;
}

a.Contact:hover span { 
   display: none;
}

a.Contact:hover:before{
content:"0740 555 555";
}

#contactsTopRight li{
width:90px;
}

#contactsTopRight .conImg{
	width:12px;
	padding-right:5px;
}

#top-bar ul{ margin: 0;
    padding-right: 80px;
	float:right;
	height:inherit;}
	
#top-bar #contactsTopRight{
padding-left:0px;
}	
	
#top-bar #tp{
	padding-right:0px;
	padding-left:80px;
	float:left;
}

#top-bar ul li{
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
	
}
#top-bar ul li a img {
    height: 18px;
}
#top-bar ul li img{
    height: 18px;
}

#top-bar .stickTogether {
    padding-right: 0px;
    margin-left: -5px;
}

#navbar {
    background-color: white;
	overflow:hidden;
	width:100%;
	float:left;

}
#navbar ul{
    margin: 0;
}

#navbar #left{
	float:left;
}
#navbar #right{
	float:right;
	padding-right:50px;
	margin-top:50px;
	max-height:40px;
	vertical-align:middle;
}


#navbar ul li{
    display: inline-block;
    
    font-family: "Liberation Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#navbar ul li a{
    text-decoration: none;
    color: black;
}

#logoImg{
    height: 100px;
    width: 150px;
    padding-left: 20px;
}

#searchBar input{
    height: 30px;
    width: 200px;  
	border-style:none;
}

#searchBar{

	border: solid;
    border-radius: 5px;
	display:inline-block;
}

#searchBar input[type=image] {
    height: 35px;
    width: 60px;
	float:right;
}

#navbar ul li a:hover {
    border-bottom-style: solid;
    padding-bottom: 3px;
}

#navbar ul li .spaces{
    padding-right: 15px;
}
#imageContainer {
    width: 105%;
    height: 23px;
    background-image: url(images/kristakistravel_DescoperaMaramuresulButton.png);
    background-size:cover;
}

#maramures {
    position:relative;
    top:10px;
}

#smallNavBar {
    background-color: #3d4094;
}

#homeButton {
    height: 20px;
    width: 20px;
}

#smallNavBar ul{
    margin: 0;
    text-align: center;
	font-size:20px;
}

#smallNavBar ul li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
}

#smallNavBar ul li a{
    text-decoration: none;
    font-family: "Liberation Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
    transition:all linear 0.15s;
}

#smallNavBar .menu li:hover > a{
    text-decoration:none;
}

.menu > ul > li {
    position:relative;
}

 #smallNavBar .menu li:hover .subMenu {
    z-index:1;
    opacity:1;
}
 
 .subMenu li:hover{
     background-color: coral;
 }
 
.subMenu {
    width: auto;
    padding-left: 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 6px 10px rgba(0,0,0,0.2);
    background:#3d4094;
}

#smallNavBar .menu ul li .subMenu li {
    display:block;
    padding: 7px 40px;
    font-size:16px;
}

.subMenu li a{
     display:block;
    text-align: center;
}


#slideshow {
    background-color: #3d4094;
    padding-bottom: 7px;
}

.sliderIMG {
    position: relative;
}

.sliderIMG .text1, .sliderIMG .text2, .sliderIMG .text3{
    position: absolute;
}

.sliderIMG .text1{
    padding: 0 20px;
    width: auto;
    bottom:80%;
    left: 45%;
    color: white;
    background-color: #fe641a;
    border: thin;
    border-radius: 3px;
	font-size:20px;

    -ms-transform: rotate(4deg); /* IE 9 */
    -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);
    
}

.sliderIMG .text1 h2{
    margin: 0 0;
}

.sliderIMG .text2{
    padding: 0 20px;
    width: auto;
    bottom:65%;
    left: 50%;
    color: white;
    background-color: #42cb15;
    border: thin;
    border-radius: 3px;
	font-size:20px;

    -ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);

}

.sliderIMG .text2 h2{
    margin: 0 0;
}

.sliderIMG .text3{
    padding: 0 20px;
    width: auto;
    bottom:50%;
    left: 55%;
    color: white;
    background-color: #02aff3;
    border: thin;
    border-radius: 3px;
	font-size:14px;

    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);

}

.sliderIMG .text3 h2{
    margin: 0 0;
}

.sliderIMG a img{
    width: 170px;
    position:absolute;
    left:65%;
    bottom: 5%;
}

label > .howTravel{ /* HIDE RADIO */
  display:none;
}
label > .howTravel + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > .howTravel:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid black;
  border-radius:40px;

}


#meniuCautaOferta {
    position:absolute;
    width: 250px;
    height:400px;
    text-align: center;
  background-color: rgba(38, 182, 247, 0.8);
    top: 8%;
    left:15%;
    z-index: 1;
    
}

#meniuCautaOferta img{
    width: 250px;
    position:relative;
}

#meniuCautaOferta ul {
    padding: 0;
    text-align: center;
}

#meniuCautaOferta ul li img{
    width:50px;
    margin: 0px 10px;
}

#meniuCautaOferta ul li{
    display: inline-block;
}

#meniuCautaOferta input{
    width:210px;
    height:20px;
    margin: 5px auto;
    align-items: center;
}

#meniuCautaOferta .check {
    margin: 5px 0;
    width:90px;
}

#datepicker{
	margin-right:20px;
}

#meniuCautaOferta #datepicker2{
	margin-left:20px;
}

#meniuCautaOferta #butonCauta {
    margin-top:7%;
    width: 180px;
    height: 50px;
}
#meniuCautaOferta p {
    color: white;
    position: absolute;
    top:40px;
    left:70px;
    font-size: 20px;
}


#oferte ul{
    margin: 0;
	float:right;
    padding-right: 250px;
    
}

#oferte{
    background-color: white;
	padding-top:20px;
    position:relative;
    
}

#oferte ul li{
    margin: 20px;
    text-align: center;
    width: 150px;
    display: inline-block;
}

#oferte ul p{
    height: 150px;
}

#oferte ul p, #oferte ul h3{
    margin: 0;
}
#oferte ul h3{
    color: orangered;
    font-size: 16px;
}

#oferte ul p{
    margin-top: 15px;
    font-size: 14px;
}

.row_one{
   float:right;
   padding-right:250px;
}

.row_one img{
    width: 280px;
    height:400px;
    margin:0 5px;
}

#oferte .row_one ul{
    padding-left:0;
}

#oferte .row_one ul li{
    display: inline;
}

#oferte .row_one ul p{
    width: 240px;
    height:20px;
    margin: 0;
}

#oferte .row_one .list{
    position: absolute;
    top:35%;
    left:38%;
}

#oferte .row_one .list .colorInside{
    color: orangered;
    font-weight: bolder;
}

#craciun {
    width:100px;
    height: 50px;
    text-align: center;
    position:absolute;
    top:24%;
    left:50%;
    color: white;
}


#reduceri {
    width:100px;
    height:50px;
    text-align: center;
    position:absolute;
    top:23%;
    left:72%;
    color: white;
}

#oferte .row_one .list_two{
    position: absolute;
    top:35%;
    left:60%;
}

#oferte .row_two{
    float:right;
    padding-right: 254px;
    margin-top:20px;
    position:relative;
	width:580px;
}

#oferte .row_two p{
    margin:15px auto;

    -ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
}
#oferte .row_two img{
    width:580px;
}

.text_one{
    position: absolute;
    width:200px;
    height:100px;
    top:13%;
    left:47%;
    color: white;
}

.text_two{
    position: absolute;
    width:200px;
    height:100px;
    top:67%;
    left:47%;
    color: white;
}

.row_three{

    padding-left: 495px;
	width:580px;
}

.row_three img{
    width:580px;
}

#listOne_rowThree ul, #listTwo_rowThree ul{
    padding:0;
	width:400px;
}

#listOne_rowThree ul li{
    margin: 10px;
    display:inline-table;
}

#listTwo_rowThree ul li{
    margin: 10px;
	display:inline-table;
	
}

#listOne_rowThree ul li p, #listTwo_rowThree ul li p{
    width:150px;
    height:20px;
	display:inline;
}

#listOne_rowThree {
    position: absolute;
    top:77%;
    left:58%;
}

#listTwo_rowThree {
    position: absolute;
    top:89%;
    left:58%;
}

.colorInside{
    color: orangered;
    font-weight: bolder;
}

.row_two{
    margin:10px 0;
}

.row_three{
    margin: 10px 0 0 0;
}

#phoneNumbers img{
    width:250px;
    position:absolute;
    top: 24.5%;
    left:15%;
}

#contactNumbers ul li a{
    font-size: 18px;
}

#contactNumbers ul li{
    margin-top: 10px;
    list-style-type: none;
}

#contactNumbers{
    position: absolute;
    top: 26%;
    left:13%;
}
#destinatiiTuristice img{
    width:265px;
    position: absolute;
    top: 30.5%;
    left:14.5%;
}

#destinatiiTuristice {
    width:250px;
    
}

#destinatiiTuristice ul{
    position:relative;
    padding-left: 0px;
    margin:0;
}

#destinatiiTuristice ul li{
    text-align: center;
    width:230px;
    height:50px;
    list-style-type: none;
    border-bottom:  2px solid #268fbe;
    margin:0px 10px;
}

#destinatiiTuristice ul li a{
    display:block;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Liberation Sans", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    color:white;
}

#destinatiiTuristice ul li a:hover{
    background-color: #268fbe;
}

#listaDestinatii{
    position: absolute;
     top: 32.5%;
    left:15.05%;
    background-color:rgb(38, 182, 247) ;
}

#destinatiiTuristice #listaDestinatii #noBorder{
    border-bottom: none;
}

#abonareNewsletter{
    width:250px;
}

#abonareNewsletter img{
    width: 250px;
    position:absolute;
    top: 49.5%;
    left: 15%;
}

#abonareNewsletter #newsletterStuff ul{
    margin: 0px;
    padding-left: 0;
    text-align: center;
}

#abonareNewsletter #newsletterStuff ul li{
    margin: 15px 0;
    list-style-type: none;
}

#abonareNewsletter #newsletterStuff ul .inp {
    width: 220px;
    height:30px;
    border: thin;
    border-radius: 3px;
}

#submitButton{
    margin-top: 1px;
	margin-right:3px;
    height:50px;
    width:190px;
    color: white;
    background-color: #41cb15;
    font-size: 16px;
    font-weight: bolder;
    border: thin;
    border-radius: 5px;
}

#newsletterStuff{
    position: absolute;
    top:51.5%;
    left: 16%;
}

#footer img{
    padding-top: 10px;
    background-color: white;
    width:100%;
}

#footerDetails{
    background-color: rgb(38, 182, 247);
    margin-top: -10px;
		padding-bottom:10px;
		text-align:center;
}

#footerDetails ul{
    list-style-type: none;
    display:inline-block;
    margin:0px 11px;
    padding-left: 0;
    font-family: "Liberation Sans", Helvetica, Arial, sans-serif;
    height: 250px;
  
}

#footerDetails ul li .color{
    margin: 10px 0;
    color: black;
    font-family: "Liberation Sans", Helvetica, Arial, sans-serif;
}

#footerDetails ul ul{
    width:200px;
    height: 300px;
}

#footerDetails ul li{
    margin: 10px 25px;
    color: black;
    font-family: "Liberation Sans", Helvetica, Arial, sans-serif;
}

#footerDetails .title{
    border-bottom: 2px solid #268fbe;
    padding-bottom: 15px;
}

#footerDetails ul ul li #adress{
    width: 130px;
    height:22px;
    border: thin;
    border-radius: 4px;
    margin-left: 25px;
    
}

#footerDetails a{
	text-decoration: none;
	color: black;
}

#footerDetails a:hover{
	text-decoration: underline;

}

#footerDetails ul ul li #message{
    width:130px;
    height:40px;
    border: thin;
    border-radius: 4px;
    margin: 5px 0px 5px 25px;
}
#footerDetails ul ul li #submitButton{
    width:130px;
    height: 30px;
    border: thin;
    border-radius: 4px;
    margin-left: 25px;
}

#footerDetails .hotfix1{
    margin: 0px;
}

#footerDetails #issue1 li{
    margin: 16px 5px;
}

#footerDetails #issue2 li{
    margin:0px
}

#footerDetails #final{
    width: 70%;
    border-top: 2px solid #268fbe;
    text-align: center;
    margin:auto;
    font-size: 10px;
}

#footerDetails .firstTwo{
margin-bottom:40px;}

#footerDetails .Third{
margin-bottom:28px;}

div.ui-datepicker{
 font-size:10px;
}
